footer{
    background-color: #f5f5f0;
}

.menu_item:hover{
   background-color:  #ff9900;
    color:  #cccccc;
}

/* img manipulation style */
.over {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
    border-radius: 5px;
    background-color: rgba(0,0, 0, 0.6);
}

.over:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


/* ******************** header attributes ************************** */

.header_jumbotron{
    margin-top: 200px;
    margin-bottom: 200px;
}

/* header background image */
.header_background{
  background-image: url("../img/poly0.png");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
}
.Sheader_background{
  background-image: url("../img/servers_room-wallpaper-3554x1999.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
}
.Aheader_background{
  background-image: url("../img/alps_mountain.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
}
.Lheader_background{
  background-image: url("../img/african_sunset_2-wallpaper-1920x1080.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  margin-top: 0px;
}

.jumbotron{
    background-color: #000000;
    opacity: 0.8;
    -webkit-transition: opacity 1s, background-color 1s; /* Safari */
    transition: opacity 1s, background-color 1s;
    color:#ff9900;
    
}

.jumbotron:hover{
    opacity: 0.9;
    background-color: #00001a;
}

